<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Portal-Job
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios" *ngFor="let item of jobsData" >
    <ion-card-header>
      <h4>{{item.title}}</h4>
    </ion-card-header>
    <ion-card-content>
      <i>{{item.contract}}</i>
      <p>{{item.description}}</p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-input [(ngModel)]="page" placeholder="page"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="search()" >Search</ion-button>
</ion-content>
