*{
  margin:0;
  padding:0;
}

ion-header ion-toolbar {
  padding: 0 2%;
}

#container a {
  text-decoration: none;
}

ion-list-header {
  text-align: center;
}

.list-header-1 {
  width: 35%;
}

.list-header-2 {
  width: 30%;
}

.list-header-3 {
  width: 35%;
}

.container {
  margin: 15px;
  padding: 3%;
}
